@font-face { font-family: 'Lemon Milk Light'; src: url('../fonts/LemonMilklight.otf'); }

body {
    background-color: black;
    color: white;
    width: 100%;
    margin: auto;
}

#top {
    display: block;
}

#background {
    max-width: 100%;
    min-width: 100%;
}

#logo {
    display: flex;
    position: absolute;
    top: 50px;
}

#logo p {
    position: absolute;  
    left: 50px;
    margin-top: 10px;
    color: #89aec9;
    font-family: 'Lemon Milk Light';
    font-size: 45px;
}

#background {
    display: flex;
}

.menu {
    text-align: center;
    background-color: whitesmoke;
}

.menu > button {
    width: max-content;
    padding: 10px 20px;
    border: none;
    font-family: 'Lemon Milk Light';
    font-size: 20px;
    text-transform: uppercase;
    color: black;
    background-color: whitesmoke;
    transition: .5s;
}

a:link {
    color: #89aec9;
}

a:link:hover {
    color: #3163e1;
}

.menu > button:hover {
    background-color: #fbc286;
    color: white;
}

.menu > button:focus {
    background-color: #ae7668;
    color: black;
    outline: none;
}

.post_body {
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    margin: 0.5% 5%;
    max-width: 90%;
    min-width: 90%;
    max-height: 90%;
    min-height: 50em;
}